In [ ]:
# opengrid imports
import pandas as pd

In [4]:
# for plotting
import charts
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = 14,8

In [24]:
df_elec = pd.read_pickle('/data/electricity_2016_hour.pickle')
df = df_elec.iloc[:,[0]]
df = df.tz_convert('Europe/Brussels')

In [31]:
import time
import datetime

In [44]:
datetime.datetime.strptime('00:30', '%H:%M').time()

datetime.time(0, 30)

In [53]:
def select_hours(df, start_time='00:00:00', end_time='23:59:59'):
    import numpy as np
    start = datetime.datetime.strptime(start_time, '%H:%M:%S').time()
    end = datetime.datetime.strptime(end_time, '%H:%M:%S').time()
    df = df[np.logical_and(df.index.time >= start, df.index.time < end)]
    return df

def standby(df):
    dfdaymin = df.resample('D').min()

In [54]:
select_hours(df,  start_time='05:00:00', end_time='15:00:00')

                                  53b1
2016-01-01 05:00:00+01:00    91.111982
2016-01-01 06:00:00+01:00   125.291244
2016-01-01 07:00:00+01:00    71.344470
2016-01-01 08:00:00+01:00   164.240476
2016-01-01 09:00:00+01:00   254.533333
2016-01-01 10:00:00+01:00   504.333333
2016-01-01 11:00:00+01:00   470.833333
2016-01-01 12:00:00+01:00   506.966667
2016-01-01 13:00:00+01:00   139.593939
2016-01-01 14:00:00+01:00   251.198653
2016-01-02 05:00:00+01:00   126.754839
2016-01-02 06:00:00+01:00   143.696774
2016-01-02 07:00:00+01:00   189.465726
2016-01-02 08:00:00+01:00   340.159722
2016-01-02 09:00:00+01:00   377.186869
2016-01-02 10:00:00+01:00   809.737968
2016-01-02 11:00:00+01:00   955.352941
2016-01-02 12:00:00+01:00   469.857143
2016-01-02 13:00:00+01:00   376.142857
2016-01-02 14:00:00+01:00   338.842105
2016-01-03 05:00:00+01:00   114.594595
2016-01-03 06:00:00+01:00   120.320000
2016-01-03 07:00:00+01:00   196.000000
2016-01-03 08:00:00+01:00   240.180000
2016-01-03 09:00:00+01:00   961.722222
2016-01-03 10:00:00+01:00  1043.931624
2016-01-03 11:00:00+01:00  2900.846154
2016-01-03 12:00:00+01:00  3561.000000
2016-01-03 13:00:00+01:00  3302.000000
2016-01-03 14:00:00+01:00  1049.000000
...                                ...
2016-12-29 05:00:00+01:00          NaN
2016-12-29 06:00:00+01:00          NaN
2016-12-29 07:00:00+01:00          NaN
2016-12-29 08:00:00+01:00          NaN
2016-12-29 09:00:00+01:00          NaN
2016-12-29 10:00:00+01:00          NaN
2016-12-29 11:00:00+01:00          NaN
2016-12-29 12:00:00+01:00          NaN
2016-12-29 13:00:00+01:00          NaN
2016-12-29 14:00:00+01:00          NaN
2016-12-30 05:00:00+01:00          NaN
2016-12-30 06:00:00+01:00          NaN
2016-12-30 07:00:00+01:00          NaN
2016-12-30 08:00:00+01:00          NaN
2016-12-30 09:00:00+01:00          NaN
2016-12-30 10:00:00+01:00          NaN
2016-12-30 11:00:00+01:00          NaN
2016-12-30 12:00:00+01:00          NaN
2016-12-30 13:00:00+01:00          NaN
2016-12-30 14:00:00+01:00          NaN
2016-12-31 05:00:00+01:00          NaN
2016-12-31 06:00:00+01:00          NaN
2016-12-31 07:00:00+01:00          NaN
2016-12-31 08:00:00+01:00          NaN
2016-12-31 09:00:00+01:00          NaN
2016-12-31 10:00:00+01:00          NaN
2016-12-31 11:00:00+01:00          NaN
2016-12-31 12:00:00+01:00          NaN
2016-12-31 13:00:00+01:00          NaN
2016-12-31 14:00:00+01:00          NaN

[3660 rows x 1 columns]

In [26]:

dfdaymin.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 367 entries, 2016-01-01 00:00:00+01:00 to 2017-01-01 00:00:00+01:00
Freq: D
Data columns (total 1 columns):
53b1    357 non-null float64
dtypes: float64(1)
memory usage: 5.7 KB

In [27]:
dfdaymin

                                 53b1
2016-01-01 00:00:00+01:00   57.964405
2016-01-02 00:00:00+01:00  100.060060
2016-01-03 00:00:00+01:00   98.612573
2016-01-04 00:00:00+01:00   97.888889
2016-01-05 00:00:00+01:00  106.088384
2016-01-06 00:00:00+01:00  110.554545
2016-01-07 00:00:00+01:00   97.531100
2016-01-08 00:00:00+01:00  105.600000
2016-01-09 00:00:00+01:00  111.447368
2016-01-10 00:00:00+01:00   99.388889
2016-01-11 00:00:00+01:00  106.617647
2016-01-12 00:00:00+01:00   91.422619
2016-01-13 00:00:00+01:00   99.625225
2016-01-14 00:00:00+01:00  112.229412
2016-01-15 00:00:00+01:00  120.737931
2016-01-16 00:00:00+01:00  124.326190
2016-01-17 00:00:00+01:00  121.666667
2016-01-18 00:00:00+01:00  119.836364
2016-01-19 00:00:00+01:00  106.942857
2016-01-20 00:00:00+01:00  107.393939
2016-01-21 00:00:00+01:00  121.724138
2016-01-22 00:00:00+01:00  122.592857
2016-01-23 00:00:00+01:00   99.699652
2016-01-24 00:00:00+01:00  114.699234
2016-01-25 00:00:00+01:00   98.953453
2016-01-26 00:00:00+01:00  138.486388
2016-01-27 00:00:00+01:00   98.504505
2016-01-28 00:00:00+01:00  102.647648
2016-01-29 00:00:00+01:00  120.263866
2016-01-30 00:00:00+01:00   99.274024
...                               ...
2016-12-03 00:00:00+01:00  346.181818
2016-12-04 00:00:00+01:00  371.100000
2016-12-05 00:00:00+01:00  355.474747
2016-12-06 00:00:00+01:00  354.500000
2016-12-07 00:00:00+01:00  340.686869
2016-12-08 00:00:00+01:00  363.588889
2016-12-09 00:00:00+01:00  349.600000
2016-12-10 00:00:00+01:00  301.097902
2016-12-11 00:00:00+01:00  265.983516
2016-12-12 00:00:00+01:00  353.511111
2016-12-13 00:00:00+01:00  341.218182
2016-12-14 00:00:00+01:00  350.990909
2016-12-15 00:00:00+01:00  352.050000
2016-12-16 00:00:00+01:00  349.600000
2016-12-17 00:00:00+01:00  353.800000
2016-12-18 00:00:00+01:00  329.409091
2016-12-19 00:00:00+01:00  351.966667
2016-12-20 00:00:00+01:00  343.954545
2016-12-21 00:00:00+01:00  324.818182
2016-12-22 00:00:00+01:00  326.227273
2016-12-23 00:00:00+01:00         NaN
2016-12-24 00:00:00+01:00         NaN
2016-12-25 00:00:00+01:00         NaN
2016-12-26 00:00:00+01:00         NaN
2016-12-27 00:00:00+01:00         NaN
2016-12-28 00:00:00+01:00         NaN
2016-12-29 00:00:00+01:00         NaN
2016-12-30 00:00:00+01:00         NaN
2016-12-31 00:00:00+01:00         NaN
2017-01-01 00:00:00+01:00         NaN

[367 rows x 1 columns]

In [9]:
pd.DatetimeIndex(start='2016-12-01 00:00:00', freq='D', end='2016-12-20 00:00:00')

DatetimeIndex(['2016-12-01', '2016-12-02', '2016-12-03', '2016-12-04',
               '2016-12-05', '2016-12-06', '2016-12-07', '2016-12-08',
               '2016-12-09', '2016-12-10', '2016-12-11', '2016-12-12',
               '2016-12-13', '2016-12-14', '2016-12-15', '2016-12-16',
               '2016-12-17', '2016-12-18', '2016-12-19', '2016-12-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
dfdaymax.index

DatetimeIndex(['2014-10-11', '2014-10-12', '2014-10-13', '2014-10-14',
               '2014-10-15', '2014-10-16', '2014-10-17', '2014-10-18',
               '2014-10-19', '2014-10-20',
               ...
               '2016-12-06', '2016-12-07', '2016-12-08', '2016-12-09',
               '2016-12-10', '2016-12-11', '2016-12-12', '2016-12-13',
               '2016-12-14', '2016-12-15'],
              dtype='datetime64[ns, tzlocal()]', length=797, freq='D')

The next plot shows that some periods are missing.  Due to the cumulative nature of the electricity counter, we still have the total consumption.  However, it is spread out of the entire period.  So we don't know the standby power during these days, and we have to remove those days.

In [ ]:
if DEV:
    sensor = hp.search_sensors(key='3aa4')[0]
    df = sensor.get_data(head=pd.Timestamp('20151117'), tail=pd.Timestamp('20160104'))
    charts.plot(df, stock=True, show='inline')

In [ ]:
def is_submeter(sensor, dfdaymin, dfdaymax):
    """
    Return True if this sensor is a sub-meter
    
    sensor = sensor object
    """
    
    
    other_sensors = sensor.device.get_sensors(sensortype='electricity')
    other_sensors.remove(sensor)
    if len(other_sensors) == 0:
        print("\n{} - {}: no other sensors, this must be main.".format(sensor.device.key, sensor.description))
        return False
    else:
        print("\n{} - {}: comparing with:".format(sensor.device.key, sensor.description))
        for o in other_sensors:
            # we only check the values for last day
            print("* {}:".format(o.description))
            sensormin = dfdaymin.ix[-1,sensor.key]
            sensormax = dfdaymax.ix[-1,sensor.key]
            try:
                othermin = dfdaymin.ix[-1].dropna()[o.key]
                othermax = dfdaymax.ix[-1].dropna()[o.key]
            except:
                print("  No data found for sensor {}".format(o.description))
                pass
            else:
                if (sensormin <= othermin) and (sensormax <= othermax):
                    print("  {} has lower daily min AND max, so it is a submeter.".format(sensor.description))                   
                    return True
                else:
                    print("  {} has higher daily min and/or max, we look further.".format(sensor.description))
        else:
            print("All other sensors have no data OR lower daily min and max. {} must be main.".format(sensor.description))
            return False

In [ ]:
# The function is_submeter makes one obvious error: see results for FL03001566
for col in dfdaymin:
    is_submeter(hp.find_sensor(col), dfdaymin, dfdaymax)

In [ ]:
# Clean out the data: 
# First remove sensors that are submeters
for col in dfdaymin:
    if is_submeter(hp.find_sensor(col), dfdaymin, dfdaymax):
        print("\n!!Removing submeter {}".format(col))
        dfdaymin = dfdaymin.drop(col, axis=1)
# Now remove days with too low values to be realistic
dfdaymin[dfdaymin < 10] = np.nan
# Now remove days where the minimum=maximum (within 1 Watt difference)
dfdaymin[(dfdaymax - dfdaymin) < 1] = np.nan

In [ ]:
dfdaymin.info()

In [ ]:
if DEV:
    charts.plot(dfdaymin, stock=True, show='inline')

In [ ]:
standby_statistics = dfdaymin.T.describe(percentiles=[0.1,0.5,0.9]).T

In [ ]:
if DEV:
    charts.plot(standby_statistics[['10%', '50%', '90%']], stock=True, show='inline')

In [ ]:
# Get detailed profiles for the last day
now = pd.Timestamp('now', tz=BXL)
dt_start_of_last_day = pd.Timestamp(dfdaymin.index[-1].date(), tz=BXL)
dt_end_of_last_day = dt_start_of_last_day + pd.Timedelta(hours=endtime.hour, minutes=endtime.minute)
sensors = map(hp.find_sensor, dfdaymin.columns)
df_details = hp.get_data(sensors = sensors, head=dt_start_of_last_day, tail=dt_end_of_last_day)
df_details.fillna(method='ffill', inplace=True)
df_details.fillna(method='bfill', inplace=True)

### Boxplot approach.  Possible for a period of maximum +/- 2 weeks.

In [ ]:
# choose a period
look_back_days = 10
dt_start_of_period = dt_start_of_last_day - pd.Timedelta(days=look_back_days-1)
dfdaymin_period = dfdaymin.ix[dt_start_of_period:].dropna(axis=1, how='all')

In [ ]:
box = [dfdaymin_period.loc[i,:].dropna().values for i in dfdaymin_period.index]
for sensor in dfdaymin_period.columns:
    fig=plt.figure(figsize=(10,5))
    ax1=plt.subplot(121)
    ax1.boxplot(box, positions=range(len(box)), notch=False)
    ax1.plot(range(len(box)), dfdaymin_period[sensor], 'rD', ms=10, label='Standby power')
    xticks = [x.strftime(format='%d/%m') for x in dfdaymin_period.index]
    plt.xticks(range(len(box)), xticks, rotation='vertical')
    plt.title(hp.find_sensor(sensor).device.key + ' - ' + hp.find_sensor(sensor).description)
    ax1.grid()
    ax1.set_ylabel('Watt')
    plt.legend(numpoints=1, frameon=False)
    ax2=plt.subplot(122)
    try:
        ax2.plot_date(df_details[sensor].index, df_details[sensor].values, 'b-', label='Last night')
        ax2.xaxis_date(tz=BXL) #Put timeseries plot in local time
        # rotate the labels
        plt.xticks(rotation='vertical')
        ax2.set_ylabel('Watt')
        ax2.set_xlabel('Local time (BXL)')
        ax2.grid()
        
        xax = ax2.get_xaxis() # get the x-axis
        xax.set_major_locator(HourLocator())
        xax.set_minor_locator(MinuteLocator(30))
        
        adf = xax.get_major_formatter() # the the auto-formatter

        adf.scaled[1./24] = '%H:%M'  # set the < 1d scale to H:M
        adf.scaled[1.0] = '%Y-%m-%d' # set the > 1d < 1m scale to Y-m-d
        adf.scaled[30.] = '%Y-%m' # set the > 1m < 1Y scale to Y-m
        adf.scaled[365.] = '%Y' # set the > 1y scale to Y

        plt.legend(loc='upper right', frameon=False)
        plt.tight_layout()
    except Exception as e:
        print(e)
    else:
        plt.savefig(os.path.join(c.get('data', 'folder'), 'figures', 'standby_horizontal_'+sensor+'.png'), dpi=100)
        pass
    
    if not DEV:
        plt.close()

### Percentile approach.  Useful for longer time periods, but tweaking of graph still needed

In [ ]:
# choose a period
look_back_days = 40
dt_start_of_period = dt_start_of_last_day - pd.Timedelta(days=look_back_days-1)
dfdaymin_period = dfdaymin.ix[dt_start_of_period:].dropna(axis=1, how='all')
df = dfdaymin_period.join(standby_statistics[['10%', '50%', '90%']], how='left')

In [ ]:
for sensor in dfdaymin_period.columns:
    plt.figure(figsize=(10,8))
    ax1=plt.subplot(211)
    ax1.plot_date(df.index, df[u'10%'], '-', lw=2, color='g', label=u'10% percentile')
    ax1.plot_date(df.index, df[u'50%'], '-', lw=2, color='orange', label=u'50% percentile')
    ax1.plot_date(df.index, df[u'90%'], '-', lw=2, color='r', label=u'90% percentile')
    ax1.plot_date(df.index, df[sensor], 'rD', ms=7, label='Your standby power') 
    ax1.legend(loc='upper center', ncol=4, prop={'size':10})
    locs, lables=plt.xticks()
    xticks = [x.strftime(format='%d/%m') for x in num2date(locs)]
    plt.xticks(locs, xticks, rotation='vertical')
    plt.title(hp.find_sensor(sensor).device.key + ' - ' + sensor)
    ax1.grid()
    ax1.set_ylabel('Watt')
    
    ax2=plt.subplot(212)
    try:
        ax2.plot_date(df_details[sensor].index, df_details[sensor].values, 'b-', label='Detailed consumption of last night')
        ax2.xaxis_date(tz=BXL) #Put timeseries plot in local time
        # rotate the labels
        plt.xticks(rotation='vertical')
        ax2.set_ylabel('Watt')
        ax2.set_xlabel('Local time (BXL)')
        ax2.grid()
        
        xax = ax2.get_xaxis() # get the x-axis
        xax.set_major_locator(HourLocator())
        xax.set_minor_locator(MinuteLocator(30))
        
        adf = xax.get_major_formatter() # the the auto-formatter

        adf.scaled[1./24] = '%H:%M'  # set the < 1d scale to H:M
        adf.scaled[1.0] = '%Y-%m-%d' # set the > 1d < 1m scale to Y-m-d
        adf.scaled[30.] = '%Y-%m' # set the > 1m < 1Y scale to Y-m
        adf.scaled[365.] = '%Y' # set the > 1y scale to Y
        
        plt.legend(loc='upper right', frameon=False)
        plt.tight_layout()
    except Exception as e:
        print(e)
    else:
        plt.savefig(os.path.join(c.get('data', 'folder'), 'figures', 'standby_vertical_'+sensor+'.png'), dpi=100)
        pass
    if not DEV:
        plt.close()

In [ ]:
df_details.index